/*
	Cretors content
*/

.user-content {
	.demo-click {
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: $yellow;
		width: 100px;
		height: 100px;
		margin-left: -50px;
		margin-top: -50px;
		&:hover {
			border: 1px solid white;
		}
	}
}	

