@charset "UTF-8";
/* line 1, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

/* line 7, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

/* line 17, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
body {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* clear */
/* line 25, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
.clear:before,
.clear:after {
  content: ' ';
  display: table;
}

/* line 31, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
.clear:after {
  clear: both;
}

/* line 34, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
.clear {
  zoom: 1;
}

/* global box-sizing */
/* line 40, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

/* line 48, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

/* line 52, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* line 57, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* line 69, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
main,
li {
  display: block;
}

/* line 73, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
h1,
h2,
h3,
h4 {
  font-size: inherit;
}

/* line 79, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
strong {
  font-weight: bold;
}

/* line 82, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
a,
button {
  color: inherit;
}

/* line 87, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
a {
  text-decoration: none;
}

/* line 90, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

/* line 99, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 103, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
:focus {
  outline: 0;
}

/* line 106, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_defaults.scss */
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/* line 78, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_variables.scss */
.top_m {
  margin-top: 16px;
}

/* Font-face */
@font-face {
  font-family: 'Grot-Medium';
  src: url("../fonts/Grot-Medium.woff2") format("woff2"), url("../fonts/Grot-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Grot-Light';
  src: url("../fonts/Grot-Light.woff2") format("woff2"), url("../fonts/Grot-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Typography */
/* line 24, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_typography.scss */
body {
  font-family: 'Grot-Light';
  font-size: 20px;
  line-height: 1.2;
}

/* line 30, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_typography.scss */
bold, b, strong, .bold, h1 {
  font-family: 'Grot-Medium';
}

/* line 34, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_typography.scss */
h1, h2, h3, h4 {
  font-weight: normal;
}

/* line 38, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_typography.scss */
h1 {
  font-size: 72px;
  line-height: 80px;
}

/* line 43, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_typography.scss */
h2 {
  font-size: 32px;
  line-height: 40px;
}

/* line 48, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_typography.scss */
h3 {
  font-size: 20px;
  line-height: 24px;
}

/* line 2, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button {
  position: relative;
  display: block;
  background-color: #242424;
  color: #E6E6E6;
  font-family: 'Grot-Medium';
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: auto;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 15, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button.medium {
  height: 48px;
  border-radius: 24px;
  font-size: 20px;
}

/* line 19, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button.medium i {
  width: 48px;
  height: 48px;
}

/* line 23, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button.medium span {
  height: 48px;
  line-height: 48px;
  padding-right: 24px;
}

/* line 30, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button.large, button.large-middle {
  height: 96px;
  border-radius: 48px;
  font-size: 32px;
}

/* line 34, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button.large i, button.large-middle i {
  width: 96px;
  height: 96px;
}

/* line 38, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button.large span, button.large-middle span {
  height: 96px;
  line-height: 96px;
  padding-right: 48px;
}

/* line 45, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button.large-middle {
  box-shadow: none;
  border-radius: 0;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
}

/* line 54, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button.touchstart {
  background-color: #666666;
}

/* line 60, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button span {
  position: relative;
  float: left;
  width: auto;
}

/* line 67, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button i {
  position: relative;
  float: left;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

/* line 76, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button i.icon-power-green {
  background-image: url(../icons/icon-power-green.svg);
}

/* line 79, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button i.icon-power-red {
  background-image: url(../icons/icon-power-red.svg);
}

/* line 82, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button i.icon-sleep {
  background-image: url(../icons/icon-sleep.svg);
}

/* line 85, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button i.icon-close-grey {
  background-image: url(../icons/icon-close-grey.svg);
}

/* line 88, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button i.icon-stop-grey {
  background-image: url(../icons/icon-stop-grey.svg);
}

/* line 91, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button i.icon-stop-red {
  background-image: url(../icons/icon-stop-red.svg);
}

/* line 94, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button i.icon-loading {
  background-image: url(../icons/icon-loading.svg);
}

/* line 101, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button.align-middle {
  margin: 0 auto;
}

/* line 104, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
button.align-right {
  float: right;
}

/*
	Volume Control
*/
/* line 116, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
.volume-wrap {
  position: relative;
  top: 0;
  opacity: 1;
  height: 24px;
  margin-top: 36px;
  display: flex;
  justify-content: center;
  padding: 0 16px 0 8px;
}

/* line 127, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
.volume-wrap .rangeslider,
.volume-wrap .rangeslider__fill {
  position: relative;
  display: block;
  flex-grow: 1;
}

/* line 134, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
.volume-wrap .rangeslider {
  position: relative;
  background-color: #000000;
}

/* line 141, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
.volume-wrap .rangeslider--horizontal {
  height: 4px;
  top: 10px;
}

/* line 146, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
.volume-wrap .rangeslider--disabled {
  opacity: 0.4;
}

/* line 150, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
.volume-wrap .rangeslider__fill {
  background: #666666;
  position: absolute;
}

/* line 154, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
.volume-wrap .rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}

/* line 159, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
.volume-wrap .rangeslider__handle {
  background-color: #E6E6E6;
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: 0px;
}

/* line 170, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
.volume-wrap .rangeslider__handle:active, .volume-wrap .rangeslider--active .rangeslider__handle {
  background-color: #FFFFFF;
}

/* line 175, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
.volume-wrap i {
  flex-grow: 48px;
  flex-basis: 48px;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  width: 48px;
  height: 24px;
}

/* line 185, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
.volume-wrap i.icon-volume {
  background-image: url(../icons/icon-volume.svg);
}

/* line 187, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/_buttons.scss */
.volume-wrap i.icon-volume.on {
  background-image: url(../icons/icon-volume-up.svg);
}

/*
	Temp
*/
/* line 15, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.temp {
  display: none;
}

/* line 19, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
#system-status-plus {
  position: fixed;
  z-index: 4000;
  bottom: 0;
  left: 4px;
  color: red;
  font-size: 10px;
}

/* line 26, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
#system-status-plus .relay {
  color: green;
}

/*
	General
*/
/* line 36, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
body {
  background-color: #DCE0E1;
}

/* line 38, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
body.controller {
  background-color: #121212;
}

/* line 42, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
body.welcome-state #welcome {
  display: block;
}

/* line 44, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
body.welcome-state #welcome .pattern {
  opacity: 1;
}

/*
	Nav – Top
*/
/* line 56, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.nav-top {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  padding: 16px;
}

/* line 65, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.nav-top .logo {
  position: relative;
  float: left;
  background-image: url(../img/logo-white.svg);
  height: 32px;
  width: 106px;
  margin-top: 8px;
}

/* line 74, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.nav-top .header {
  color: #FFFFFF;
  float: left;
  margin-top: 4px;
}

/*
	Nav – Bottom
*/
/* line 86, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.nav-bottom {
  position: fixed;
  width: 100%;
  height: 112px;
  bottom: 0;
  background-color: red;
  background: transparent;
  /* Old browsers */
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.5)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C */
  z-index: 1000;
}

/*
	Sections
*/
/* line 101, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
section {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  z-index: 100;
  background-color: #121212;
}

/* line 110, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
section.overlay-block {
  z-index: 200;
}

/* line 115, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
section .content-notice {
  position: relative;
  width: 100%;
  float: left;
  z-index: 101;
  padding: 160px 64px;
  padding-top: 256px;
  height: 100%;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

/* line 123, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
section .content-notice h1 {
  color: #E6E6E6;
  margin-bottom: 16px;
}

/* line 127, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
section .content-notice h3 {
  color: #999999;
  max-width: 384px;
}

/* line 134, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
section .content-feed {
  position: relative;
  width: 100%;
  float: left;
  z-index: 101;
  padding: 24px 16px;
  padding-top: 104px;
  height: 100%;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  color: white;
}

/* line 146, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
section .pattern {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  background-position: 50% center;
  background-size: auto 100%;
  z-index: 100;
  opacity: 0;
}

/* line 157, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
section .pattern.pattern-welcome {
  background-image: url(../patterns/pattern-welcome.svg);
}

/* line 160, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
section .pattern.pattern-confirm {
  background-image: url(../patterns/pattern-confirm.svg);
}

/* line 163, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
section .pattern.pattern-sleeping {
  background-image: url(../patterns/pattern-sleeping.svg);
}

/* line 166, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
section .pattern.pattern-loading {
  background-image: url(../patterns/pattern-loading.svg);
}

/* line 169, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
section .pattern.pattern-confirm {
  background-image: url(../patterns/pattern-confirm.svg);
}

/* line 172, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
section .pattern.pattern-notice {
  background-image: url(../patterns/pattern-notice.svg);
}

/*
	Experiencees feed
*/
/* line 186, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
#experiences ul {
  position: relative;
  width: 100%;
  float: left;
}

/*
	Playing Controls Wrap
*/
/* line 197, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.playing-controls-wrap-outer {
  position: relative;
  max-width: 768px;
  padding: 0 32px;
  margin: 0 auto;
}

/* line 204, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.playing-controls-wrap {
  position: relative;
  width: 100%;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  background-color: #242424;
  color: #E6E6E6;
  font-family: 'Grot-Medium';
  padding: 0;
  overflow: hidden;
  width: auto;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 96px;
  border-radius: 48px;
}

/* line 225, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.playing-controls-wrap .flex-item {
  flex-grow: 1;
  max-width: 224px;
}

/* line 228, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.playing-controls-wrap .flex-item.current-experience {
  position: relative;
}

/* line 232, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.playing-controls-wrap #current-experience-title {
  position: absolute;
  display: table;
  height: 100%;
  width: auto;
  padding-left: 88px;
  z-index: 100;
}

/* line 239, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.playing-controls-wrap #current-experience-title p {
  display: table-cell;
  vertical-align: middle;
  white-space: normal;
  font-size: 20px;
  line-height: 24px;
}

/* line 249, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.current-experience-image-wrap {
  height: 96px;
  width: 96px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 90;
}

/* line 256, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.current-experience-image-wrap .icon-play {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../icons/icon-play-green.svg);
  z-index: 4;
  display: block;
}

/* line 270, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.current-experience-image-wrap .gradient {
  z-index: 3;
  background: rgba(36, 36, 36, 0);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(36, 36, 36, 0) 0%, #242424 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(36, 36, 36, 0)), color-stop(100%, #242424));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(36, 36, 36, 0) 0%, #242424 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(36, 36, 36, 0) 0%, #242424 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(36, 36, 36, 0) 0%, #242424 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(36, 36, 36, 0) 0%, #242424 100%);
  /* W3C */
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 279, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.current-experience-image-wrap #current-experience-image {
  height: 96px;
  width: 96px;
  position: absolute;
  left: 0;
  top: 0;
  background-position: center center;
  z-index: 2;
}

/* line 288, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.current-experience-image-wrap .default-image {
  z-index: 1;
}

/*
	Default bizz
	
*/
/* line 298, /Users/vitali/LOCALDEV/jonas-embed/embed/embed-core/public/visual/scss/style.scss */
.default-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/buzz.gif");
}

/*# sourceMappingURL=../css/style.map */