// Dimensions


// Embed Colours – Design System

$c_d1: #E6E6E6;
$c_d2: #FFFFFF;

$c_c1: #666666;
$c_c2: #999999;

$c_e1: #000000;
$c_e2: #121212;
$c_e3: #242424;

$c_a: #FFED00;

$c_r1: #00006B;
$c_r2: #04A64B;
$c_o: #E30613;
$c_n: #DCE0E1;


// Embed Colours – Shortcuts

$c_black: $c_e1;
$c_white: $c_d2;
$c_yellow: $c_a;
$c_blue: $c_r1;
$c_green: $c_r2;
$c_red: $c_o;
$c_neutral: $c_n;


// Colour – Effects

$c_black_transparent: rgba(0,0,0,0);
$c_black_50: rgba(0,0,0,0.5);

// Font Sizes

$f_s: 12px;
$f_m: 20px;
$f_l: 32px;
$f_xl: 72px;


// Layout
@mixin basicfloat() {
	position: relative;
	width: 100%;
	float: left;
}

@mixin basiccover() {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

@mixin boxshadow() {
	box-shadow:8px 8px 16px rgba(0, 0, 0, .2);
}

@mixin buttonshadow() {
	box-shadow:0px 2px 16px rgba(0,0,0,0.25);
}

@mixin unselectable() {
	-webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;     
	  user-select: none;  
}



.top_m {
	margin-top: 16px;
}

// Max Width

$maxwidth: 1170px;
$maxwidth-grid: 1200px;
$maxwidth-large: 1270px;

// Responsive breakpoints

@mixin breakpoint($point) {
  @if $point == mobile {
    @media (max-width: 640px) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 960px) { @content; }
  } 
  @else if $point == maxwidth {
    @media (max-width: 1280px) { @content; }
  }      
}


@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
}

@mixin linearGradientHorizontal($left, $right){
    background: $left; /* Old browsers */
    background: -moz-linear-gradient(left,  $left 0%, $right 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$left), color-stop(100%,$right)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  $left 0%,$right 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  $left 0%,$right 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  $left 0%,$right 100%); /* IE10+ */
    background: linear-gradient(to right,  $left 0%,$right 100%); /* W3C */
}