@import "defaults";
@import "variables";
@import "typography";
@import "buttons";
@import "controller";
//@import "creatorcontent";




/*
	Temp
*/

	.temp {
		display: none;
	}
	
	#system-status-plus {
		position: fixed;
		z-index: 4000;
		bottom: 0;
		left: 4px;
		color: red;
		font-size: 10px;
		.relay {
			color: green;
		}
	}

/*
	General
*/


	body {
		background-color:$c_n;
		&.controller {
			background-color: $c_e2;
		}
		&.welcome-state {
			#welcome {
				display: block;
				.pattern {
					opacity: 1;
				}
			}
		}
	}


/*
	Nav – Top
*/
	
	.nav-top {
		z-index: 1000;
		position: fixed;
		width: 100%;
		height: 80px;
		top: 0;
		//background-color: blue;
		padding: 16px;
		
		.logo {
			position: relative;
			float: left;
			background-image: url(../img/logo-white.svg);
			height: 32px;
			width: 106px;
			margin-top: 8px;
		}
		
		.header {
			color: $c_d2;	
			float: left;
			margin-top: 4px;
		}
	}
	
	
/*
	Nav – Bottom
*/
	
	.nav-bottom {
		position: fixed;
		width: 100%;
		height: 112px;
		bottom: 0;
		background-color: red;
		@include linearGradient($c_black_transparent, $c_black_50);
		z-index: 1000;
	}	


/*
	Sections
*/
		
	section {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		display: none;
		z-index: 100;
		background-color: $c_e2;
		
		&.overlay-block {
			z-index: 200;
		}
		
		//content 
		.content-notice {
			@include basicfloat();
			z-index: 101;
			padding: 160px 64px;
			padding-top: 256px;
			height: 100%;
			overflow-y: scroll; /* has to be scroll, not auto */
			-webkit-overflow-scrolling: touch; 			
			h1 {
				color: $c_d1;
				margin-bottom: 16px;
			}
			h3 {
				color: $c_c2;
				max-width: 384px;
			}			
		}
		
		//Experiences
		.content-feed{
			@include basicfloat();
			z-index: 101;
			padding: 24px 16px;
			padding-top: 104px;
			height: 100%;
			overflow-y: scroll; /* has to be scroll, not auto */
			-webkit-overflow-scrolling: touch; 			
			color: white;			
		}		
		
		//Patterns
		.pattern {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;		
			background-position: 50% center;
			background-size: auto 100%;
			z-index: 100;
			opacity: 0;
			
			&.pattern-welcome {
				background-image: url(../patterns/pattern-welcome.svg);
			}
			&.pattern-confirm {
				background-image: url(../patterns/pattern-confirm.svg);
			}	
			&.pattern-sleeping {
				background-image: url(../patterns/pattern-sleeping.svg);
			}
			&.pattern-loading {
				background-image: url(../patterns/pattern-loading.svg);
			}	
			&.pattern-confirm {
				background-image: url(../patterns/pattern-confirm.svg);
			}
			&.pattern-notice {
				background-image: url(../patterns/pattern-notice.svg);
			}										
			
		}
	}


/*
	Experiencees feed
*/



	#experiences ul {
		@include basicfloat();	
	}



	